.user_data{
    display: flex;
    gap: 15%;
}
.student_name{
    background-color: pink;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    width: 25%;
    height:250px;
    text-align: center;
}
.student_data{
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px ;
    /* width: 90%; */
  /* position: relative;
  bottom: 0px; */
}
h1{
    color: yellowgreen;
    text-shadow: 2px 2px 2px wheat;
}